@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600');

@font-face {
  font-family: "CorpidC1-Bold";
  src: url('../fonts/CorpidC1-Bold.otf') format("opentype");
}
@font-face {
  font-family: "NABImpact";
  src: url('../fonts/NAB Impact-Regular.otf') format("opentype");
}

.a11-reward-saver-cross-sell-proposed1-before {
  width               : 100%;
  min-width           : 1440px;
  height              : 100%;
  min-height          : 1729px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(109, 103, 126, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.a11-reward-saver-cross-sell-proposed1-before .accountsbackground {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : 110%;
  width               : 1522px;
  position            : absolute;
  margin              : 0;
  left                : -36px;
  overflow            : hidden;
}
.a11-reward-saver-cross-sell-proposed1-before .accountsbackground .mask {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1092px;
  width               : 1522px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .accountsbackground .image1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : 1300px;
  width               : 1920px;
  position            : absolute;
  margin              : 0;
  left                : -204px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 50px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .rectangle1 {
  background          : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 105.7%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  margin-left         : -2.2em;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .nab-horizontal-spot-flat-star-reverse {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 28px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .nab-horizontal-spot-flat-star-reverse .fill1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 14px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .nab-horizontal-spot-flat-star-reverse .fill2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 19px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .nab-horizontal-spot-flat-star-reverse .group6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .apply-for-nab-classi {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  font-family         : "CorpidC1-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.51px;
  line-height         : 20.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .button-ghost-with-dropdown {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 28px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 1180px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .button-ghost-with-dropdown .need-help {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : -0.45px;
  line-height         : 18.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .button-ghost-with-dropdown .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 111px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  border-style        : solid;
  border-width        : 1;
  border-color        : rgba(255, 255, 255, 1.0);
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .button-ghost-with-dropdown .image2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 7px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .icons-padlock {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : 19px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 1311px;
  opacity             : 0.6;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .navbar .icons-padlock .image3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 19px;
  width               : 18px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.6;
}
.a11-reward-saver-cross-sell-proposed1-before .components-navbar .secured-by-nab {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1336px;
  font-family         : "CorpidC1-Bold", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(154, 154, 154, 1.0);
  text-align          : left;
  letter-spacing      : -0.39px;
  line-height         : 15.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .background-copy {
  background          : rgba(255, 255, 255, 0.95);
  top                 : 116px;
  height              : 1140px;
  width               : 600px;
  position            : absolute;
  margin              : 0;
  left                : 256px;
  border-radius       : 5px;
}
.a11-reward-saver-cross-sell-proposed1-before .rectangle4-copy8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 246px;
  height              : 463px;
  width               : 600px;
  position            : absolute;
  margin              : 0;
  left                : 257px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1120px;
  height              : 44px;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav .line-copy2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2px;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav .tell-us-more-about-y {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : 290px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1188px;
  height              : 43px;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav-copy .image4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 2px;
  width               : 572px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .future-nav-copy .almost-finished {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 24.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 31.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .your-expenses {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 151px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 460px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 36.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .rectangle4-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : -378px;
  height              : 45px;
  width               : 453px;
  position            : absolute;
  margin              : 0;
  left                : 325px;
}
.a11-reward-saver-cross-sell-proposed1-before .include-in-this-tota {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 207px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 372px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : 31px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 304px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2 .shape {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 17px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2 .image5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 19px;
  width               : 23px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2 .image6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 12px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.a11-reward-saver-cross-sell-proposed1-before .phone1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 391px;
  height              : 32px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 308px;
}
.a11-reward-saver-cross-sell-proposed1-before .phone1 .image7 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 32px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .phone1 .image8 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 2px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .phone1 .image9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 24px;
  height              : 2px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .phone1 .image10 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : 2px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.a11-reward-saver-cross-sell-proposed1-before .bag141 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 545px;
  height              : 29px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
}
.a11-reward-saver-cross-sell-proposed1-before .bag141 .image11 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 7px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.a11-reward-saver-cross-sell-proposed1-before .bag141 .image12 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 15px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .bag141 .image13 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 19px;
  height              : 10px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.a11-reward-saver-cross-sell-proposed1-before .bag141 .image14 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 18px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 .image15 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 .image16 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 .image17 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 8px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 .image18 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 9px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .car41 .image19 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : 2px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 561px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance1 .image20 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 18px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance1 .image21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 16px;
  height              : 11px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance1 .image22 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 7px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance1 .image23 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 4px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
}
.a11-reward-saver-cross-sell-proposed1-before .island1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 391px;
  height              : 32px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 562px;
}
.a11-reward-saver-cross-sell-proposed1-before .island1 .image24 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 26px;
  height              : 6px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.a11-reward-saver-cross-sell-proposed1-before .island1 .image25 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 20px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
}
.a11-reward-saver-cross-sell-proposed1-before .island1 .image26 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 17px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
}
.a11-reward-saver-cross-sell-proposed1-before .island1 .image27 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .health-equipment-finance-calculator1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 468px;
  height              : 32px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 566px;
}
.a11-reward-saver-cross-sell-proposed1-before .health-equipment-finance-calculator1 .image28 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .health-equipment-finance-calculator1 .image29 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.a11-reward-saver-cross-sell-proposed1-before .health-equipment-finance-calculator1 .image30 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 24px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 545px;
  height              : 28px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 561px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image31 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 27px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image32 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 28px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image33 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image34 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image35 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image36 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image37 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image38 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 9px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image39 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a11-reward-saver-cross-sell-proposed1-before .book201 .image40 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 17px;
  height              : 2px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 468px;
  height              : 22px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 304px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image41 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 25px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image42 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 21px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image43 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 6px;
  height              : 15px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image44 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 7px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image45 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 1px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image46 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 7px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
}
.a11-reward-saver-cross-sell-proposed1-before .meal1 .image47 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 9px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.a11-reward-saver-cross-sell-proposed1-before .basic-housing-and-pr {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : 35px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 563px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 35px;
  width               : 29px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .group1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : 21px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .group1 .image48 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .group1 .image49 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 13px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .male21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 34px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .male21 .image50 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.a11-reward-saver-cross-sell-proposed1-before .iconchildcare .group .male21 .image51 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 10px;
  height              : 24px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .communications-and-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 391px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .food-and-groceries {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 468px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .clothing-and-persona {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 545px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .transport-eg-vehi {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : auto;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .insurance-eg-heal {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .recreation-and-enter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 391px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .medical-and-health {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 468px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .education-eg-scho {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 545px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .childcare-eg-crc {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 622px;
  height              : auto;
  width               : 210px;
  position            : absolute;
  margin              : 0;
  left                : 603px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 854px;
  height              : 19px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 336px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2-copy .image52 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 11px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2-copy .image53 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 12px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.a11-reward-saver-cross-sell-proposed1-before .home2-copy .image54 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 8px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
}
.a11-reward-saver-cross-sell-proposed1-before .rectangle8 {
  background          : rgba(237, 237, 237, 1.0);
  top                 : 766px;
  height              : 130px;
  width               : 521px;
  position            : absolute;
  margin              : 0;
  left                : 303px;
}
.a11-reward-saver-cross-sell-proposed1-before .your-total-expenses {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 776px;
  height              : auto;
  width               : 483px;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .dropdown-copy9 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 819px;
  height              : 45px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 347px;
}
.a11-reward-saver-cross-sell-proposed1-before .dropdown-copy9 .field-border {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 45px;
  width               : 320px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  border-style        : solid;
  border-width        : 2;
  border-color        : rgba(198, 211, 220, 1.0);
}

input[type="number"]{
  font: 1em/1.25em Arial, Helvetica, sans-serif;
  text-align: right;
}




.a11-reward-saver-cross-sell-proposed1-before .dropdown-copy9 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 9px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .button-help-cal {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 820px;
  height              : 42px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 673px;
}
.a11-reward-saver-cross-sell-proposed1-before .button-help-cal .rectangle50 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}


.a11-reward-saver-cross-sell-proposed1-before .button-help-cal .rectangle50 {
  top                 : 0px;
  height              : 42px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
}

.a11-reward-saver-cross-sell-proposed1-before .button-help-cal .rectangle50:hover {

  top                 : 0px;
  height              : 42px;
  width               : 130px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  cursor              : pointer;
}


.a11-reward-saver-cross-sell-proposed1-before .button-help-cal .help-me-calculate {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : auto;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}

.a11-reward-saver-cross-sell-proposed1-before .button-help-cal .help-me-calculate:hover{
  cursor              : pointer;
}

.a11-reward-saver-cross-sell-proposed1-before .total-expenses {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 936px;
  height              : 171px;
  width               : 483px;
  position            : absolute;
  margin              : 0;
  left                : 315px;
}
.a11-reward-saver-cross-sell-proposed1-before .total-expenses .view1 {
  background          : rgba(237, 237, 237, 1.0);
  top                 : 0px;
  height              : 171px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.a11-reward-saver-cross-sell-proposed1-before .total-expenses .a000_page1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 75px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 182px;
  font-family         : "NABImpact", Helvetica, Arial, serif;
  font-size           : 67.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 66.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .total-expenses .per-month {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 114px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 352px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.a11-reward-saver-cross-sell-proposed1-before .total-expenses .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 21px;
  height              : auto;
  width               : 483px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "Source Sans Pro", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 18.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : center;
  line-height         : 23.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%

  {
      opacity: 0;
    }


  100%

  {
      opacity: 1;
    }
}
